[Unit]
Description=Bluecoins Web Django Application
After=network.target

[Service]
# Default user for Amazon Linux 2 is 'ec2-user'
# For Ubuntu AMI, change to 'ubuntu'
# For Debian AMI, use 'admin'
# For CentOS AMI, use 'centos'
User=admin
Group=admin
WorkingDirectory=/opt/bluecoins-web
Environment="PATH=/opt/bluecoins-web/venv/bin"
EnvironmentFile=/opt/bluecoins-web/.env
ExecStart=/opt/bluecoins-web/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 BluecoinsWeb_project.wsgi:application
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
